/*Pati sa jere image ak text lan*/
#home{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  background-image: url("../images/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  overflow: hidden;
  margin-top: 80px;
}


body{
  background-color: black;
}

.homecontent {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 500px; 
}

.homecontent .text{
  max-width: 500px; 
  text-align: left;  
}
.homecontent .text-solo{
  margin-bottom: 20px;
}
.homecontent .btn{
  margin-bottom: 20px;
  margin-top: 20px;
}
.homecontent .btn1{
  padding: 12px 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--accent);
  border: 2px solid var(--accent-2);
  border-radius: 6px;
  transition: 0.3s;
}

.homecontent .btn1:hover{
  padding: 12px 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: var(--accent-2);
  color: var(--bg);
  border: 2px solid var(--accent-2);
  border-radius: 6px;
  transition: 0.3s;
}

.homecontent .social a{
  color: var(--text);
  transition: 0.3 ease;
  display: inline-block;
}

.homecontent .social a:hover{
  transform: scale(1.2);
  color: var(--accent);
}

.home2{
  width: 100%;
  text-align: center;
  padding: 25px 6;
  background: var(--accent-2);
  color: var(--bg);
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 1px;
  height: 40px;
}

.slogan{
  animation: fade 5s infinite;
}

@keyframes fade{
  0%{opacity: 0;}
  10%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}
