/*section sa la pou retire tout bodi 
ak espas navigate a mete pa defo*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


/*sa se tout variable nap gen poun itilize yo 
tankou koule,size, etc
sa pemet nou evite repete on seri de code e pemet noou chanje koule site 
lan byen rapid*/
:root{
  --bg: #0b0b0b;
  --text: #f5f3f2;
  --muted: #bdb9b2;
  --accent: #D4AF37;
  --accent-2: #b88f2a;
  --card-bg: #121212;
  --radius: 12px;
  --container: 1100px;
  --gap: 1.25rem;
  --transition: 200ms ease;
  --shadow: 0 6px 18px rgba(0,0,0,0.45);

  --header-bg: #0e0e0e;
  --header-shadow: 0 2px 10px rgba(0,0,0,0.5);
  --font-large: 1.8rem;
  --font-small: 1rem;
  --text-color: #f5f3f2;
  --primary-color: #D4AF37; 
}


/*sa la pou font, bg, etc*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

html,body{
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  
  color: var(--text);
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*sa jere header an ak menu an*/
header{
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-bg);
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px var(--header-shadow) ;
}

header{
  backdrop-filter: blur(8px);
  background: rgba(14,14,14,0.9);
}

.logo h1 {
  font-size: 40px;
  color: var(--text-color);
  text-decoration: none;
}

.logo h1 span {
  color: var(--primary-color);
  text-decoration: none;
}

.menu-nav{
  display: flex;
  gap: 30px;
}

.menu-nav li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-small);
  transition: 0.3s ease;
}

.menu-nav li a:hover {
  color: var(--primary-color);
}

/*Pati ki jere footer an*/
footer{
  width: 100%;
  background: #0a0a0a;
  padding: 10px 0;
  text-align: center;
  color: var(--muted);
  margin-top: 0px;
  border-top: 1px solid rgba(255,255,255,0.1);
}